{% extends 'challenge/base_detail.html' %}
{% load core_tags %}
{% block content %}
  <div class="page-wrapper">
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Leaderboard {% if last_modified %}(Last modified: {{ last_modified|date:'DATETIME_FORMAT' }}){% endif %}
            </h2>
          </div>
          <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
              {% if request.user.is_superuser %}
                <a class="btn btn-icon" href="{% url 'admin:challenge_leaderboard_leaderboardentry_changelist' %}">
                  <i class="ti ti-settings"></i>
                </a>
              {% endif %}
              <form action="{% url 'challenge:challenge_leaderboard:send' challenge.pk %}"
                    method="post">{% csrf_token %}
                <button type="submit" class="btn btn-secondary"><i class="ti ti-send"></i>Send</button>
              </form>
              <form action="{% url 'challenge:challenge_leaderboard:calculate' challenge.pk %}"
                    method="post">{% csrf_token %}
                <button type="submit" class="btn btn-primary"><i class="ti ti-cpu"></i>Calculate</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container-xl">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <table class="table table-striped">
                <tr>
                  <th class="w-1">#</th>
                  <th>Submission</th>
                  <th>Author</th>
                  {% for tm in target_metrics %}
                    <th>{{ tm.key }}
                      {% if sort_criterion == tm %}
                        {% if tm.sort == 'desc' %}
                          <i class="ti ti-arrow-narrow-down"></i>
                        {% else %}
                          <i class="ti ti-arrow-narrow-up"></i>
                        {% endif %}
                      {% endif %}
                    </th>
                  {% endfor %}
                </tr>
                {% for e in entries %}
                  <tr>
                    <td>{{ e.position|add:1 }}.</td>
                    <td><a
                      href="{% url 'challenge:challenge_submission:detail' challenge.pk e.submission.pk %}">{{ e.submission.name }}</a>
                    </td>
                    <td>{{ e.submission.submitter }}</td>
                    {% for tm in target_metrics %}
                      <td>{% call_method e 'get_target_metric_value' tm.key %}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
