.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
.venv
.git
.pg-data
node_modules
/certs/
.env
.env.bak
dsf_dev/
.env.production
.mypy_cache
.pytest_cache
aria2_config
aria2_downloads
ca_certs
certs
pg-backups
*.tiff
*.ndpi
k8s.conf
keycloak_admin_pw

!/eval_results_1.csv

!/eval_results.csv
/aria2.conf
/certificate_goe.pem
/private_key.pem
.ipfs
besu/
keystore/
