{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}{% endblock %}
{% block title %}Add data to {{ project.name }}{% endblock %}
{% block css %}
  <style>
    .htmx-indicator {
      opacity: 0;
      transition: opacity 500ms ease-in;
    }

    .htmx-request .htmx-indicator {
      opacity: 1
    }

    .htmx-request.htmx-indicator {
      opacity: 1
    }

    .autocomplete-suggestions {
      border: 1px solid #999;
      background: #FFF;
      overflow: auto;
    }

    .autocomplete-suggestion {
      padding: 2px 5px;
      white-space: nowrap;
      overflow: hidden;
    }

    .autocomplete-selected {
      background: #F0F0F0;
    }

    .autocomplete-suggestions strong {
      font-weight: normal;
      color: #3399FF;
    }

    .autocomplete-group {
      padding: 2px 5px;
    }

    .autocomplete-group strong {
      display: block;
      border-bottom: 1px solid #000;
    }
  </style>
{% endblock %}
{% block content %}
  {% crispy form %}
{% endblock %}
{% block javascript %}
  <script src="{% static 'js/jquery.autocomplete.min.js' %}"></script>
  <script>
    const form = document.querySelector('#formQuery');
    $('#term-autocomplete').autocomplete({
      serviceUrl: '{% url 'terminology:api-search' %}',
      minChars: 2,
      onSelect: function (suggestion) {
        const termIdHiddenField = document.createElement('input');
        termIdHiddenField.type = 'hidden';
        termIdHiddenField.value = suggestion.data;
        termIdHiddenField.name = 'term_ids';
        {#termIdHiddenField.id = 'id_form-1-term_ids_1';#}
        form.appendChild(termIdHiddenField);

        const badge = document.createElement('span');
        badge.textContent = suggestion.value;
        badge.dataset.termId = `parent-${suggestion.data}`
        badge.classList.add('badge', 'text-bg-secondary');
        const badge_icon = document.createElement('i');
        badge_icon.classList.add('ti', 'ti-trash', 'btn-delete-code');
        badge_icon.dataset.termId = suggestion.data;
        badge_icon.dataset.fileId = '{{ form.file.id }}';
        badge_icon.title = 'Remove term from query';
        badge.appendChild(badge_icon);
        badge_icon.addEventListener('click', e => deleteTermFromFile(e));
        document.querySelector('#div_id_form-terms').appendChild(badge);
        document.querySelector('#term-autocomplete').value = '';
      }
    });

    const btnDeleteCode = document.querySelectorAll('.btn-delete-code');
    for (const btn of btnDeleteCode) {
      btn.addEventListener('click', e => deleteTermFromFile(e))
    }

    function deleteTermFromFile(e) {
      if (e.target === undefined) {
        return
      }
      const termId = e.target.dataset.termId;
      for (const el of document.getElementsByName(`term_ids`)) {
        if (el.value === termId) {
          el.remove();
        }
      }
      {# remove the badge itself #}
      const i = document.querySelector(`span[data-term-id="parent-${termId}"]`)
      i.remove();
    }

  </script>
{% endblock %}
