<div class="row">
  <div class="col-6">
    <div class="card card-sm">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="bg-primary text-white avatar"><i class="ti ti-file"></i></span>
          </div>
          <div class="col">
            <div class="font-weight-medium">
              {{ files_total }} files (query)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">
            <span class="bg-primary text-white avatar"><i class="ti ti-file"></i></span>
          </div>
          <div class="col">
            <div class="font-weight-medium">
              {{ files_size|filesizeformat }} (query)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <form action="{% url 'project:download-query' project.pk %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="query" value="{{ query|escapejs }}">
      <button type="submit" name="download" class="btn btn-primary">Start download</button>
    </form>
    Make sure you have sufficient disk space available!
  </div>
</div>
